{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="pb-5">Sample list</h1>
    <table class="table app-datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in samples %}
            <tr>
                <td>{{sample.id}}</td>
                <td><a href="{% url 'detail' sample.id %}">{{sample.name}}</a></td>
                <td>{{sample.type}}</td>
                <td>{{sample.created_by}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}